<%= error_messages_for "easy_web_hook" %>

<div class="box tabular">
  <% unless @project %>
    <p><%= f.select :project_id, Project.allowed_to(:edit_easy_web_hooks).sorted.collect {|project| [project.to_s, project.id] }, {:include_blank => true}, { :include_blank => true, :label => :field_project } %></p>
  <% end %>

  <p><%= f.text_field :name, :required => true  %></p>

  <p><%= f.select :entity_type, entity_type_options_for_select, {:required => true}, { :include_blank => false } %></p>

  <p><%= f.select :action, EasyWebHook::ENTITY_ACTIONS.collect {|action| [action, action] }, {:required => true}, { :include_blank => false }  %></p>

  <p>
    <%= f.text_field :url, :required => true %>
    <%= content_tag :em, l(:label_easy_web_hooks_url_info), :class => 'info' %>
  </p>

  <p><%= f.select :entity_data_type, EasyWebHook::ENTITY_DATA_TYPES.collect {|data_type| [data_type, data_type] }, { :required => true}, { :include_blank => false } %></p>

  <p><%= f.check_box :status, {:label => :field_active}, EasyWebHook.statuses.invert[1], EasyWebHook.statuses.invert[0] %></p>
</div>
