<h2><%= l(:label_easy_web_hook_new) %></h2>

<%= labelled_form_for @easy_web_hook, :url => easy_web_hook_path(@easy_web_hook), :method => 'put' do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>

  <%= f.submit l(:button_save) %>
<% end %>
