<div class="contextual">
  <% if User.current.can_edit_hooks?(@project) %>
    <%= link_to(l(:label_easy_web_hook_new), new_easy_web_hook_path(@project), :class => 'icon icon-add') %>
  <% end %>
</div>

<h2><%= l(:label_easy_web_hooks) %></h2>

<table class="list">
<tr>
  <% unless @project %>
    <th><%= l(:field_project) %></th>
  <% end %>
  <th><%= l(:field_name) %></th>
  <th><%= l(:field_entity_type) %></th>
  <th><%= l(:field_action) %></th>
  <th><%= l(:field_url) %></th>
  <th><%= l(:field_entity_data_type) %></th>
  <th><%= l(:field_active) %></th>
  <th><%= l(:field_author) %></th>
  <th></th>
</tr>

<% @easy_web_hooks.each_with_index do |easy_web_hook| %>
  <tr class="<%= cycle 'odd', 'even' %>">
    <% if @project.nil? %>
      <td><%= link_to_project(easy_web_hook.project) if easy_web_hook.project %></td>
    <% end %>
    <td>
      <% if easy_web_hook.editable? %>
        <%= link_to easy_web_hook.name, edit_easy_web_hook_path(@project, easy_web_hook) %>
      <% else %>
        <%= easy_web_hook.name %>
      <% end %>
    </td>
    <td><%= easy_web_hook.entity_type %></td>
    <td><%= easy_web_hook.action %></td>
    <td><%= easy_web_hook.url %></td>
    <td><%= easy_web_hook.entity_data_type %></td>
    <td class="tick"><%= checked_image easy_web_hook.active? %></td>
    <td><%= avatar(easy_web_hook.author, :size => "14") %><%= easy_web_hook.author.name %></td>
    <td class="buttons">
      <% if easy_web_hook.editable? %>
        <%= link_to l("button_delete"), easy_web_hook_path(@project, easy_web_hook),
              :method => 'delete', :class => "icon icon-del", :data => { :confirm => l(:text_are_you_sure) } %>
      <% end %>
    </td>
  </tr>
<% end %>

</table>
