<h2><%= l(:label_easy_web_hook_new) %></h2>

<%= labelled_form_for @easy_web_hook, :url => easy_web_hooks_path(@project) do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>

  <%= f.submit l(:button_create) %>
  <%= f.submit l(:button_create_and_continue), :name => 'continue' %>
<% end %>
